.certificate_card {
    width: 344px !important;
    border-radius: 3px;
    box-shadow: 0 0 7px rgb(128, 124, 124);

}

.certificate_card img {
    width: 100% !important;
    height: 275px;
    border-radius: 3px;

}